<section class="inner-content">
	<section>
		<section class="category-header">
			<h2>Shopping Cart</h2>
		</section>
		<section class="error-msg" ng-show="vdo.cartProducts.length==0">
			<span>Sorry no cart item got added</span>
			<div>
				<img src="assets/images/sorry.png">
			</div>
			<div class="button-holder">
				<button class="blue-button" ng-click="vdo.continueShop()">Back to home</button>
			</div>
		</section>
		<section class="cart-table-section" ng-hide="vdo.cartProducts.length==0">
				<table class="cart-table">
					<thead>
						<tr>
							<th>Select</th>
							<th>Image</th>
							<th>Product</th>
							<th>Unit Price</th>
							<th>QTY</th>
							<th>Price</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in vdo.cartProducts" ng-class-even="'dim-row'">
							<td  class="center-align short-column"><input type="checkbox" name="" ng-model="product.selected" ng-change="vdo.productSelected(product)"></td>
							<td class="center-align short-column"><img ng-src="{{product.image}}" alt="{{product.productName}}"></td>
							<td ><span ng-bind="product.productName"></span></td>
							<td class="right-align short-column" ng-bind="(product.productPrice | currency : '&#x24;')"><span>$32</span></td>
							<td class="center-align short-column"><input type="number" min=1  ng-model="product.qty" ng-change="vdo.changeQty(product)"></td>
							<td class="right-align medium-column"><span ng-bind="(product.total | currency : '&#x24;')"></span></td>
							<td class="short-column center-align"><span ng-click="vdo.removeProduct(product)" class="remove-icon"></span></td>
						</tr>
					</tbody>
				</table>
				<div class="total-section">
					<span class="total-text">Total :</span>
					<span class="total-value" ng-bind="(vdo.selected.total | currency : '&#x24;')"></span>
				</div>
				<div class="button-holder">
					<button class="blue-button" ng-click="vdo.continueShop()">Continue Shopping</button>
					<button class="green-button" ng-disabled="vdo.selected.total == 0" ng-click="vdo.checkOut()" >Confirm Order</button>
				</div>
		</section>
	</section>
</section>
<category></category>