<section class="inner-content">
	<section class="send-query">
		<h2>Send us a message</h2>
		<form name="form" novalidate="">
			<div>
				<label>Name</label>
				<input type="text" name="uName" required="">
			</div>
			<div>
				<label>Email</label>
				<input type="email" name="">
			</div>
			<div>
				<label>Message</label>
				<textarea rows="5" cols="10"></textarea>
			</div>
			<div>
				<input type="submit" name="" value="Send">
			</div>
		</form>
	</section>
	<section class="info">
		<h2>Keep in touch</h2>
		<h3>Address</h3>
		<address>
			Room No:524,
			Fifth Floor,
			ASV Suntech Park,
			Mettukkuppam
		</address>
		<h3>E-mail</h3>
		<span>imthihas94@gmail.com</span>
		<h3>Phone</h3>
		<span>123456780</span>
	</section>
</section>